.main-wrapper{
    width:90vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:2rem
}

.image-box{
    width:20rem;
    height:20rem;
     border:1px solid #3f3f3fdd;
     background-color:#131313dd;
     display:flex;
     justify-content:center;
     align-items:center;
     border-radius:0.5rem;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}


.image-box2{
    width:20rem;
    height:20rem;
     border:1px solid #3f3f3fdd;
     background-color:#131313dd;
     display:flex;
     justify-content:center;
     align-items:center;
     border-radius:0.5rem;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}


.box-wrapper{
    display: flex;
    gap: 2rem;
}

.btn-phone{
    cursor: pointer;
     width: 6rem;
     height: 2rem 
}

.ai-name{
    color: white;
    margin-top:1rem;
    font-weight:500;
}

@media (max-width: 700px) {
    .image-box2{
        display: none
    }
}

.call-button {
  padding: 0.5rem 0 0.5rem 0;
  width: 6rem;
  border-radius: 1rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease;
}

.call {
  background-color: rgb(0, 113, 0);

}

.calling {
  background-color: rgb(0, 164, 27);
  animation: pulse 1.5s infinite;
}

.hangup {
  background-color: rgb(179, 1, 1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 173, 6, 0.395);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(1, 171, 9, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 188, 16, 0);
  }
}
